[Unit]
Description=My loginspector service
[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/loginspector
ExecStart=/opt/loginspector.sh $LOG $MAIL